$accent-col: #13a89e;
$accent-darc: #11978e;
$second-col: #f2f4fa;
$kievit: 'KievitExtraBold', 'Open Sans', sans-serif;
$openS: 'Open Sans', sans-serif, Arial;
//hover effect
$duration: 400ms;
$timing-fn: ease;
$turquoise: #ffffff;
