@font-face {
	font-family: "KievitExtraBold";
	src: url("../fonts/FF Kievit Pro Extra Bold/Kievit-ExtraBold.eot");
	src: url("../fonts/FF Kievit Pro Extra Bold/Kievit-ExtraBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/FF Kievit Pro Extra Bold/kievit-extrabold-webfont.woff") format("woff"),
	url("../fonts/FF Kievit Pro Extra Bold/Kievit-ExtraBold.ttf") format("truetype"),
	url("../fonts/FF Kievit Pro Extra Bold/Kievit-ExtraBold.svg") format("svg");
	font-style: normal;
	font-weight: normal;
}

