@import "reset";
@import "variable";


//Main style

html, body {
	position: relative;
	width: 100%;
	min-width: 320px;
	max-width: 1920px;
	padding: 0;
	margin: 0;
	line-height: 1.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	background: $second-col;
	color: #1a1b1b;
}

.btn{
	position: relative;
	display: inline-block;
	padding: 15px 25px 15px 25px;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2.8px;
	background-color: $accent-col;
	border-radius: 100px;
	line-height: inherit;
	transition: all .3s ease;
}

.preloader{
	background-image: url("../img/loading.gif") !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: initial !important;
}


.bold{
	font-weight: 700;
	color: #000;
}



/***** Sidebar *****/

.bg-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 310px;
	display: block;
	background: $second-col;
	z-index: 99;
}

.logo{
	position: relative;
	height: 135px;
	padding: 35px 40px 35px 35px;
	background: #ffffff;
}
.logo-img{
	max-width: 100%;
}
.main-content{
	.logo{
		position: absolute;
		width: 310px;
		display: none;

	}
}

.sidebar {
	position: absolute;
	display: block;
	width: 310px;
	z-index: 99;
	background: $second-col;

	.navbar{
		margin-bottom: 10px;

		.sidebar-nav{
			padding: 45px 45px 0 55px;
			.sub-menu{
				display: none;
			}

			.active{
				padding: 13.5px 0;

				.sub-menu{
					display: block;
					font-size: .8em;
					li{
						display: block;
						padding: 25px 0 0 20px;
						> .link{
							padding-left: 20px;
							transition: all .35s;
							&:hover{
								color:$accent-col;
							}
						}

					}
				}
				> .link{
					display: inline-block;

					padding: 3px 20px 3px 20px;
					background-color: $accent-col;
					border-radius: 100px;
					color: #FFFFFF;
					&:hover{
						color: #ffffff;
					}
				}
			}


			> li{
				padding: 16.5px 0;

				> .link{
					padding: 0 0 0 20px;
					font-family: inherit;
					font-weight: 700;
					font-size: .9em;
					transition:  .3s  ;
					color: #1a1b1b;
					&:hover{
						color: $accent-col;
					}
				}
			}
		}
	}
/** Search form **/

.search-form{
	position: relative;
	margin: 0 45px 50px 55px;

		.search-icon{
			position: absolute;
			top: 0;
			left: 5px;
			display: inline-block;
			width: 50px;
			height: 100%;
			background-image: url("../img/svg/search_b.svg");
			background-repeat: no-repeat;
			background-size: 35%;
			background-position: center;
			transition: all .2s;

			&:hover{
				background-image: url("../img/svg/search_g.svg");
				cursor: pointer;
				left: 165px;
			}
		}


		.form-control{
			width: 0;
			height: auto;
			padding: 12px 0;
			border: none;
			border-radius: 100px;
			font-size: .84em;
			transition: all .2s;
		}
		.form-control:hover,
		.form-control:focus{
			width: 220px;
			padding: 12px 40px 12px 20px ;
		}
		.form-control:focus {
			border-color: $accent-col ;
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(19, 168, 158, .6);
		}
		.form-control:hover + .search-icon,
		.form-control:focus + .search-icon{
			left: 165px;
		}


		.open{
			width: 220px;
			padding: 12px 20px;
		}
	}
}

.social.fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0 50px 20px 75px; ;
	width: 310px;
}

.wrapp-footer{
	.social{
		display: none;
	}
}
.social{
	margin: 0 50px 45px 75px;
	color: #8a8f9e ;
	li {
		display: inline-block;
	}
	.social-link{
		display: inline-block;
		width: 35px;
		height: 20px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		transition: all .3s  ;


		&.face{background-image: url(../img/svg/face_b.svg);}
		&.insta{background-image: url(../img/svg/insta_b.svg);}
		&.you{background-image: url(../img/svg/you_b.svg);}
		&.google{ background-image: url(../img/svg/google_b.svg);}

		&:hover.face{background-image: url(../img/svg/face_g.svg); }
		&:hover.insta{background-image: url(../img/svg/insta_g.svg);}
		&:hover.you{background-image: url(../img/svg/you_g.svg);}
		&:hover.google{ background-image: url(../img/svg/google_g.svg);}
	}

	.h1{
		margin-top: 15px;
		font-size: .8em;
		line-height: 2;
	}
}

.main-content{
	position: relative;
	padding-left: 310px;
	background: #ffffff;
}

/**** Header ****/

header{


	.address ,
	.phone-mail ,
	.btn-feedback {
		padding: 0 18px;
	}

	.icon{
		display: inline-block;
		width: 55px;
		height: 55px;
		margin-right: 10px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
	}

	.map-icon,
	.phone-icon{
		float: left;
		transition: background-color .3s;
		background-color: #ffffff;
	}
	.map-icon{
		background-size: 35%;
	}
	.reserv-icon{
		background-size: 40%;
	}

	.reserv-icon{
		position: absolute;
		top: -3px;
		left: -3px;
	}

	.wrap{
		line-height: 1.9;
		cursor: pointer;
	}


//Header top
	.header-top{
		width: 100%;
		height: 135px;
		padding: 42px 2% 0 2%;
		background-color: $second-col;
		font-size: .8em;


		.address{
			position: relative;
			margin: 0;
			line-height: inherit;

			.closed{
				position: absolute;
				top: -38px;
				right: 12px;
				width: 20px;
				height: 20px;
				display: none;

				background-image: url("../img/svg/close_b.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 50%;
				transition: background-image .3s;
				cursor: pointer;

				z-index: 6;

				&:hover{
					background-image: url("../img/svg/close_g.svg");
				}
			}

			.open{
				position: absolute;
				top: -45px;
				left: 0;
				padding: 0 0 40px 18px;
				background-color: #ffffff;
				box-shadow: 0 15px 74px -15px rgba(0,0,0,0.75);
				z-index: 5;
				cursor: default;

				a{
					margin-top: 45px;
				}
				p{
					margin:45px 45px 0 0;
				}
				.work-time{
					display: block;
					font-size: 1.15em;
				}
			}


			p{
				padding-left: 55px;
			}

			.schedule{
				display: block;
				padding-left: 60px;
				color: $accent-col;

			}

			.work-time{
				display: none;
				padding: 10px 10px 10px 55px;
				font-weight: 700;
			}
		 }


		.phone-mail{
			display: block;
			white-space: nowrap;

			.mob-link{
				display: none;
			}

			.phone{
				font-weight: 700;
				font-size: 1.1em;
			}
			.mail{
				color: $accent-col;
			}
		}

		.btn-feedback{
			text-align: end;

			.btn{
				padding: 15px 25px 15px 42px;
			}

			.btn:hover{
				background-color: $accent-darc;
				color: #ffffff;
			}
		}
	}


/*** Header main ***/
	.header-main{
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		color: #ffffff;

		.gradient,
		.mob-gradient,
		.mob-bg{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(30deg, rgba(4,159,128,1) 20%,rgba(4,159,128,0) 80%);
			background-size: cover;
		}


/** Header middle **/
		.header-middle{
			position: relative;
			padding: 55px 8% 25px 8%;

			.mob-gradient,
			.mob-bg {
				display: none;
			}

			.intro	{
				font-size: 4em;
				font-family: $kievit;
				line-height: 1.25 ;
				margin: 0;
			}
			.quote{
				margin-top: 30px;
				font-size: .995em;
				font-family: $openS;
			}
		}
	}

	.board-img li{
		margin: 0;
		padding: 0;
	}


/** Header bottom **/
	.header-bottom{

		.link-box{
			position: relative;
			display: inline-block;

			height: 350px;
			overflow: hidden;
			&:last-child{
				color: #FFFFFF;
				p:before{
					background: url("../img/svg/right_w.svg") no-repeat center;
					background-size: contain;

				}
			}

			&:hover .bottom-img{
				transform: scale(1.05);
			}
			&:hover .link-info{
				bottom: 20px;
			}
			&:hover .link-info p{
				opacity: 1;
			}
		}

		.link-box:nth-child(1){
			width: 40%;

		}.link-box:nth-child(2){
			 width: 60%;
		 }

		.bottom-img{
			position: absolute;
			width: 100%;
			height: 100%;

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: all .35s ease-out;



		}

		.link-info{
			position: absolute;
			bottom: -8px;
			padding-left: 35px;
			padding-right: 30%;
			transition: all .35s ease-out;

			h2{
				font: 2em/1.3 $kievit ;
			}


			p{
				opacity: 0;
				white-space: nowrap;
				font-family: $openS;
				font-size: .8em;
				transition: all .35s ease-out;

				&:before{
					content: '';
					display: inline-block;
					width: 12px;
					height: 10px;
					margin-right: 5px;
					background: url("../img/svg/right_b.svg") no-repeat center;
					background-size: contain;
				}
			}

		}
	}
}

/**** News shares short ****/

.news-shares-short{
	padding: 70px 0 0 8.8%;

	.news-title{
		margin-left: -10px;
		font-size: .9em;
		color: $accent-col;

		&:before{
			content: '';
			display: inline-block;
			width: 5%;
			height: 1px;
			margin-right: 10px;
			background-color: $accent-col;
			vertical-align: super;
		}
	}
	.news-short,
	.shares-short{
		display: table-cell;
		vertical-align: bottom;
		float: none;
	}


/** News **/
	.news-item{
		display: block;
		padding: 25px 0 25px 5%;

		&:hover h3{
			color: $accent-col;
		}
		h3{
			margin: 0;
			font-size: 1.45em;
			font-family: $kievit;
			line-height: 1.35;
			transition: color .35s ease;

		}

		time{
			display: inline-block;
			padding: 15px 0;
			font-size: .78em;
			color: #8a8f9e;
		}

		p{
			font-size: .8em;
			line-height: 1.75;
		}
	}
	.news-link{
		display: block;
		margin: 10px 0 70px 5%;


		&:before{
			content: '';
			display: inline-block;
			width: 12px;
			height: 10px;

			background: url("../img/svg/right_g.svg") no-repeat center;
			background-size: contain;
		}
		a{
			position: relative;
			font-size: .9em;
			color: $accent-col;

		}

		a:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: $accent-col;
			visibility: hidden;

			transform: scaleX(0);
			transition: all 0.3s ease-in-out 0s;
		}

		 a:hover:after {
			visibility: visible;
			transform: scaleX(1);
		}
	}

/** shares **/
	.shares-short{
		padding-left: 6%;

		.pattern{
			display: block;
			padding: 50px 8% 40px 13%;

			background-repeat: no-repeat;
			background-size: initial;
			background-position: center;

			color: #FFFFFF;
		}

		.disc {
			margin-bottom: 30px;
			line-height: 1;
			font-weight: 700;
			font-size: 2.67em;
			.percent{
				font-size: 1.2em;
			}
		}

		.serv{
			margin-bottom: 80px;
			line-height: 1.38;
			font-size: 1.47em;
			font-family: $kievit;
		}

		.limit{
			font-size: .86em;

			time{
				font-size: .95em;
			}
		}

	}
}

/***** Slider *****/
.pag-arrow{
	height: 100px;
	z-index: 2;
	position: absolute;
	right: 0;
	top: 0;
	width: 58.33333333%;

	.arrow,
	.pagingInfo{
		display: inline-block;
	}

	.pagingInfo{
		padding-top: 50px;
		padding-left: 4%;
		font-size: .8em;
		color: #8a8f9e;
	}

	.arrow{
		margin-top: 40px;
		text-align: center;

		.wrapp-arr{
			border: solid 1px #dfe5ee ;
			border-radius: 50px;
			width: 45px;
			height: 45px;
			display: inline-block;

			span {
				display: inline-block;

				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 30%;

				transition: all .3s ease;
				cursor: pointer;

			}

			.arr-r{
				background-image: url('../img/svg/scroll_r_b.svg');
				&:hover{
					background-image: url('../img/svg/scroll_r_g.svg');
				}

			}
			.arr-l{
				background-image: url('../img/svg/scroll_l_b.svg');
				&:hover{
					background-image: url('../img/svg/scroll_l_g.svg');
				}

			}
		}
	}

	.next-arrow{
		margin-left:9px;
	}
}

.slider-wrapp{
	position: relative;
	background-color: #e9edf4;

	.img{
		width: 39.666667%;
	}

	.slider-img{
		width: 100%;
		height: 405px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.text{
		min-height: 405px;
		padding: 96px 18% 0 4%;

			h3{
				margin: 0;
				font-family: $kievit;
				font-size: 2em;
				line-height: 1.2;
			}

			p{
				padding-top: 23px;
				font-size: .791em;
				line-height: 1.84;
			}
	}
}

/**** Info list ****/

.info-list{
	padding-right: 4%;
	.title{
		margin: 0;
		padding-bottom: 15px;
		font-size: .9em;
		font-weight: 700;
		border-bottom: solid 1px #e9edf4;
	}
	.info-bloc {
		padding: 78px 0 0 4%;
		ul{
			padding-bottom: 50px;
			padding-top: 10px;
			li{
				font-size: .78em;
				margin-top: 13px;
			}

			address{
				margin-bottom: 7px;
				color: #8a8f9e;
			}
			.tel{
				color: #8a8f9e;
			}

			.work-time{
				line-height: 2;
				color: #8a8f9e;
			}
		}

		a {
			display: inline-block;
			width: 100%;
			&:hover {
				transition: color .35s ease;
				color: $accent-col;
			}
		}
	}
}


/**** Footer ****/
footer{
	min-height: 140px;
	background-color: $second-col;
	overflow: hidden;

	.wrapp-footer{
		font-size: .8em;
		padding-top: 43px;

		.left{
			padding: 0 4% 0 4%;
			color: #8a8f9e;
		}
		.right{
			padding-left: 17%;
		}
	}

	.link-fresh{
		display: block;
		margin-left: 7px;

		.logo-fresh {
			position: relative;
			float: left;

			.fresh-g,
			.fresh-b{
				display: inline-block;
				width: 80px;
				height: 50px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}

			.fresh-g{
				opacity: 0;
				transition: opacity .35s ease;
			}

			.fresh-b{
				position: absolute;
				top: 0;
				left: 0;
				opacity: .5;
				transition: opacity .35s ease;
			}

		}

		.logo-fresh:hover .fresh-b{
			opacity: 0;
		}
		.logo-fresh:hover .fresh-g{
			opacity: .5;
		}

		.txt-hov{
			transition: all .35s;
		}
		.txt-hov:hover{
			color: $accent-col;
		}
		.fresh{
			color: #8a8f9e;
		}
	}
}

.pop-up{
	display: none;
	position: fixed;
	left: 310px;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y: scroll;

	padding: 45px 5% 0 5%;
	background: $accent-col;
	z-index: 101;

	&.open{
		display: block;
	}
	&::-webkit-scrollbar { width: 0; }
	& { -ms-overflow-style: none; }
	& { overflow: -moz-scrollbars-none; }

	.closed{
		padding-right: 3.5%;
		text-align: right;

		.closed-ic{
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 100px;
			background-color: #ffffff;

			background-image: url('../img/svg/close_b.svg');
			background-size: 32%;
			background-repeat: no-repeat;
			background-position: center;
			
			transition: all .3s ease;

			&:hover{
				cursor: pointer;
				background-image: url('../img/svg/close_g.svg');
			}
		}
	}

	.h2{
		padding: 0 3%;
		margin: 55px 0 35px 0 ;
		font-family: $kievit;
		font-size: 2.67em;
		color: #ffffff;
	}

	form{
		position: relative;

		input,
		textarea{
			font-weight: 700;
			outline: 0;
			width: 100%;
			margin: 0;
			padding: 15px;
			border: none;
			background-color: $accent-darc ;
			font-size: .8em;
			text-align: start;

			border-radius: 0;
			color: #ffffff;
			resize: none;
			&:focus{
				background-color: #42b9b1 ;
			}
			&.error{
				background-color: rgba(250,0,0, .5);
				color: #ffffff;
			}
		}

		.contact-item,
		.timepicker,
		textarea{
			position: relative;
		}
		label{
			position: absolute;
			top: -13px;
			left:6%;
			margin: 0;
			font-size: .8em;
			font-weight: normal;
			color: #80c8c3;
			opacity: 0;
			transition: all .3s ease;
		}

		input:focus ~ label,
		textarea:focus ~ label {
			opacity:1;
		}
		.timepicker label{
			left: 12%;
		}
		.email ~ label{
			left: 4%;
		}

		::-webkit-input-placeholder {
			font-weight: normal;
			color:#80c8c3;
			font-size: 14px;
			font-family: $openS;
		}
		::-moz-placeholder          {
			color:#80c8c3;
			font-size: 14px;
			font-weight: normal;

			font-family: $openS
		}/* Firefox 19+ */
		:-moz-placeholder           {
			color:#80c8c3;
			font-size: 14px;
			font-weight: normal;

		}/* Firefox 18- */

		:-ms-input-placeholder      {
			color:#80c8c3;
			font-size: 14px;
			font-weight: normal;

		}

		.contact-item{
			padding: 15px 2.7% 15px 2.7%;
		}


//Time picker


		.timepicker + .contact-item{
			padding: 15px 2.7% 15px 1%;
		}

		.timepicker{
			padding: 15px 1% 15px 2.7%;
			position: relative;

			.time-icon{
				position: absolute;
				width: 50px;
				height: 50px;
				right: 2%;
				top: 20px;
				background-image: url(../img/down_ico.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 23%;
				cursor: pointer;
			}

			&.arr-up .time-icon{
				background-image: url(../img/up_ico.png);
			}
			.time-list{
				padding: 7px 0;
				display: none;
				position: absolute;
				left: 11.3%;
				right: 4%;
				text-align: center;
				background: #ffffff;
				z-index: 999;

				li{
					margin: 14px 0;
					transition: color .3s ease;
					font-size: .75em;
					font-weight: 700;
					cursor: pointer;
					&:hover{
						color: $accent-col;
					}
					&.active span{
						padding: 3px 15px;
						background-color: $accent-col;
						border-radius: 100px;
						color: #ffffff;
					}
				}

				&.open{
					display: block;
				}
			}
		}

		.btn{
			margin: 30px 3% 125px 3%;
			padding: 15px 35px 15px 35px;
			font-size: 1em;
			background-color: #3b4047;

			transition: all .3s ease;

			&:hover,
			&:focus{
				color: $accent-col;
			}
		}
	}

	/**** Block for response ****/
	.response{
		display: none;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.2);
		z-index: 99;

		//Class for opened
		&.open{
			display: block;
		}
		.response-text-wrapp{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.response-text{
				position: relative;
				padding: 70px 80px 50px 75px;
				max-width: 580px;
				background-color: #FFFFFF;
			}
			.response-close{
				position: absolute;
				right: 20px;
				top: 20px;
				width: 19px;
				height: 19px;

				background-image: url("../img/svg/close_b.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;

				cursor: pointer;
				transition: background-image .35s ease;
				&:hover{
					background-image: url("../img/svg/close_g.svg");
				}
			}
			.title{
				margin: 0 0 20px 0;
				font-size: 2em;
				font-family: $kievit;
			}
			.thank-text{
				font-size: .9em;
				line-height: 1.9;
			}
		}
	}
}


//Import all style

@import "about";
@import "doctors";
@import "news-shares";
@import "uslugi";
@import "hover-effect";
@import "datepicker-custom";
@import "contacts";
@import "otveti_na_voprosi";

//Media queri
@import "_mediaqueri";
